body {
    background-color:peachpuff;
    margin: 0 5% 2em 5%;

    font-family: cursive;
    font-size: 40px;

    border-style: double;
    border-width: 5px;
    border-color: crimson;
}

h1 {
    color: darkred;
    text-align: center;
}

div.main_form{
    font-size: 26px;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    vertical-align: center;
}

div.buttons{
    text-align: center;
    margin: 0 auto;
}

